# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Autoconf stuff
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/stamp-h?
.deps/
.dirstamp
*.o
*~

.*.swp
mpisolve
